[logging]
 default = FILE:/var/log/krb5libs.log
 kdc = FILE:/var/log/krb5kdc.log
 admin_server = FILE:/var/log/kadmind.log

[libdefaults]
 default_realm = @@kdc_realm@@
 dns_lookup_realm = false
 dns_lookup_kdc = false
 ticket_lifetime = 24h
 renew_lifetime = 7d
 forwardable = true
 # Set udp_preference_limit = 1 when only TCP should be used. Consider using in
 # complex network environments when troubleshooting or when dealing with
 # inconsistent client behavior or GSS (63) messages.
 #udp_preference_limit = 1

[realms]
 @@kdc_realm@@ = {
  kdc = @@hostname@@
  admin_server = @@hostname@@
 }

[domain_realm]
 .@@domain@@ = @@kdc_realm@@
 @@hostname@@ = @@kdc_realm@@

