*/admin@@@kdc_realm@@	*
cloudera-scm@@@kdc_realm@@ * flume/*@@@kdc_realm@@
cloudera-scm@@@kdc_realm@@ * hbase/*@@@kdc_realm@@
cloudera-scm@@@kdc_realm@@ * hdfs/*@@@kdc_realm@@
cloudera-scm@@@kdc_realm@@ * hive/*@@@kdc_realm@@
cloudera-scm@@@kdc_realm@@ * httpfs/*@@@kdc_realm@@
cloudera-scm@@@kdc_realm@@ * HTTP/*@@@kdc_realm@@
cloudera-scm@@@kdc_realm@@ * hue/*@@@kdc_realm@@
cloudera-scm@@@kdc_realm@@ * impala/*@@@kdc_realm@@
cloudera-scm@@@kdc_realm@@ * kafka/*@@@kdc_realm@@
cloudera-scm@@@kdc_realm@@ * kafka_mirror_maker/*@@@kdc_realm@@
cloudera-scm@@@kdc_realm@@ * mapred/*@@@kdc_realm@@
cloudera-scm@@@kdc_realm@@ * oozie/*@@@kdc_realm@@
cloudera-scm@@@kdc_realm@@ * sentry/*@@@kdc_realm@@
cloudera-scm@@@kdc_realm@@ * solr/*@@@kdc_realm@@
cloudera-scm@@@kdc_realm@@ * spark/*@@@kdc_realm@@
cloudera-scm@@@kdc_realm@@ * sqoop/*@@@kdc_realm@@
cloudera-scm@@@kdc_realm@@ * yarn/*@@@kdc_realm@@
cloudera-scm@@@kdc_realm@@ * zookeeper/*@@@kdc_realm@@
